<header class="header container">

    <nav class="header__links">

        <a href="/" class="header__link header__link--profile">
            <img src="https://via.placeholder.com/150x70" alt="Logo" class="header__logo">
        </a>
        <a href="/deliverers" class="header__link header__link--profile">Perfil</a>
        <a href="/users/register" class="header__link header__link--profile">Cadastrar Produtos</a>
        <a href="/deliverers" class="header__link header__link--profile">Ranking</a>
        <a href="/deliverers" class="header__link header__link--profile">Configurações</a>
        <a href="#" class="header__link header__link--profile">
            Olá, Loja 1
            <img src="/assets/buyer-icon.png" alt="logo" class="link__login-avatar">
        </a>

        {# <ul class="header__submenu">
            <li class="header__submenu-item">
                <a href="/users" class="header__submenu-link">Minha conta</a>
            </li>
            <li class="header__submenu-item">
                <a href="/buying" class="header__submenu-link">Meus pedidos</a>
            </li>
            <li class="header__submenu-item">
                <a href="/selling" class="header__submenu-link">Minhas vendas</a>
            </li>
            <li class="header__submenu-item">
                <form action="/users/logout" method="POST">
                    <button class="header__submenu-button">Sair</button>
                </form>
            </li>
        </ul> #}
        
    </nav>

</header>