<header class="header container">

    <nav class="header__links">

        <a href="/" class="header__link header__link--profile">
            <img src="/assets/logo.png" alt="Logo" class="header__logo">
        </a>
        <a href="#" class="header__link header__link--profile">Perfil</a>
        <a href="/users/product" class="header__link header__link--profile">Cadastrar Produtos</a>
        <a href="#" class="header__link header__link--profile">Ranking</a>
        <a href="#" class="header__link header__link--profile">Configurações</a>
        <a href="/users/login" class="header__link header__link--profile">
            Olá, Loja 1
            <img src="/assets/buyer-icon.png" alt="logo" class="link__login-avatar">
        </a>
        
    </nav>

</header>