<div class="form__field">
    <div class="field__title">Descrição</div>

    <input 
        type="text"
        name="descricao" 
        class="field__input field__input--with-border"
        placeholder="Descrição"
    >
</div>

<div class="form__field">
    <div class="field__title">Quantidade</div>

    <input 
        type="number"
        name="quantidade"
        class="field__input field__input--with-border"
        placeholder="0"
    >
</div>

<div class="form__field">
    <div class="field__title">Preço</div>

    <input 
        type="text"
        name="preco"
        class="field__input field__input--with-border"
        placeholder="0"
    >
</div>

<div class="form__field">
    <div class="field__title">Imagem</div>

    <input 
        type="text"
        name="imagem"
        class="field__input field__input--with-border"
        placeholder="0"
    >
</div>