.login {
    background: var(--primary-color-opacity);
    width: 550px;
    border-radius: 6px;

    margin-top: 50px;
    padding: 40px 0;
}

.login__title {
    color: var(--text-color);
    text-align: center;
}

