.seller-profile {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
}

.seller-profile__info {
    width: 500px;
}

.seller-profile__header {
    display: flex;
}

.seller-profile__photo {
    width: 70%;
    border-radius: 50%;
}

.seller-profile__category {
    color: var(--text-color);
    font-size: 1.3rem;
    letter-spacing: initial;
    margin-top: 30px;
}

.seller-profile__name {
    color: var(--text-color);
    font-size: 2.2rem;
    margin-top: 10px;
}

.seller-profile__description {
    color: #111;
    font-size: 1.2rem;
    margin-top: 10px;
}

.seller-profile__products {
    width: 500px;
}

.seller-profile__title {
    color: var(--text-color);
    font-size: 2rem;
    text-align: center;
}

.seller-products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.product {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.product__photo {
    width: 120px;
    height: 120px;
}

.product__name {
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: normal;
    margin-top: 10px;    
}

.product__price {
    color: #111;
    font-size: 1rem;
    margin-top: 5px;
}